/* OPENTIP OVERRIDES */
.style-ep .opentip {
	padding: 0;
	overflow: hidden;
	border-radius: 3px;
	font-family: sans-serif;
}

.style-ep * {
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    border: 0;
}

/* EP TOOLTIP STYLING */
.style-ep .epPlayer {
	border-top: 10px solid #0a2f40;
	padding: 20px;
    font-size: 11px;
}

.style-ep .epPlayer:after {
	content: "";
	display: table;
	clear: both;
}

.style-ep .epPlayerPhoto {
	height: 120px;
}

.style-ep .epPlayerPhoto img {
    display: block;
	max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.style-ep .epPlayerName {
	margin: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 32px;
    line-height: 32px;
}

.style-ep .epPlayerName img {
	vertical-align: middle;
}

.style-ep .epPlayerData {
	width: 50%;
	float: left;
}

.style-ep .epPlayerData table {
	/*table-layout: fixed;*/
    border: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.style-ep .epPlayerData td {
	text-align: left;
    vertical-align: top;
    border: 0;
    padding: 1px 3px;
}

.style-ep .epPlayerData td:first-child {
	text-align: right;
	color: #999;
    white-space: nowrap;
}

.style-ep .epPlayerFooter {
    clear: both;
    font-style: italic;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.style-ep .epBrandLogo {
    float: right;
    height: 30px;
    width: 82px;
    background-image: url('../img/ep.png');
}

.style-ep .epNoWrap {
    white-space: nowrap;
}