/* OPENTIP OVERRIDES */
.opentip-container .opentip {
	padding: 0;
	overflow: hidden;
	border-radius: 3px;
	font-family: sans-serif;
}

/* EP TOOLTIP STYLING */
.epPlayer {
	border-top: 10px solid #0a2f40;
	padding: 20px;
    font-size: 11px;
}

.epPlayer:after {
	content: "";
	display: table;
	clear: both;
}

.epPlayer .epPlayerPhoto {
	height: 120px;
}

.epPlayer .epPlayerPhoto img {
    display: block;
	max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.epPlayer .epPlayerName {
	margin: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 32px;
    line-height: 32px;
}

.epPlayer .epPlayerName img {
	vertical-align: middle;
}

.epPlayer .epPlayerData {
	width: 50%;
	float: left;
}

.epPlayer .epPlayerData table {
	/*table-layout: fixed;*/
}

.epPlayer .epPlayerData td {
	text-align: left;
    vertical-align: top;
}

.epPlayer .epPlayerData td:first-child {
	text-align: right;
	color: #cccccc;
}

.epPlayer .epPlayerFooter {
    clear: both;
    font-style: italic;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.epPlayer .epBrandLogo {
    float: right;
    height: 30px;
    width: 82px;
    background-image: url('../img/ep.png');
}