<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Show detailed information about hockey players directly on your site." />
    <link rel="stylesheet" type="text/css" href="https://github.com/themes/slate/stylesheets/stylesheet.css"/>
    <title>Eliteprospects Tooltips</title>
</head>
<body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="https://github.com/menmo/eliteprospects-tooltips">View on GitHub</a>

            <h1 id="project_title">Eliteprospects Tooltips</h1>
            <!--<h2 id="project_tagline">Show detailed information about hockey players directly on your site.</h2>-->
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">

            <h1>What's this?</h1>

            <p>Enhance your site with informative tooltips about every hockey player you mention in text. All links to a player or staff profile on <a href="http://www.eliteprospects.cm">Eliteprospects.com</a> will automatically get a tooltip.</p>

            <p>If you use Wordpress, links can easily be created with this <a href="https://wordpress.org/plugins/eliteprospects-player-link/" target="_blank">plugin</a>.</p>

            <h1>Usage</h1>

            <p>
                Place this script tag on the page and you are good to go.
            </p>

            <pre><code>&lt;script src="https://menmo.github.io/eliteprospects-tooltips/eptooltips.min.js"&gt;&lt;/script&gt;</code></pre>

            <p>
                Links should match one the following patterns.
            </p>

            <pre><code>http://www.eliteprospects.com/player.php?player=[ID]</code></pre>
            <pre><code>http://www.eliteprospects.com/staff.php?staff=[ID]</code></pre>

            <h2>Examples</h2>

            <p>
                <a href="http://www.eliteprospects.com/player.php?player=710" target="_blank">Peter Forsberg</a> is a really good player.
                So is <a href="http://www.eliteprospects.com/player.php?player=286" target="_blank">this</a> fellow swede.
            </p>

            <p>
                It also works for staff, like this <a href="http://www.eliteprospects.com/staff.php?staff=2675">coach</a><span class=""></span>
            </p>

            <h2>Bugs?</h2>

            <p>
                This script is not heavily tested, and can be influenced by external styles. If you find that the tooltip looks odd on your site feel free to add an <a href="https://github.com/menmo/eliteprospects-tooltips/issues" target="_blank">issue</a> so that we can take a look. Remember to include a link to your site.
            </p>
            <p>
                You can also add an issue if you have a feature requests.
            </p>
        </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>


    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>
